{% use 'OxygenPassbookBundle::forms_template.html.twig' %}

{% block _oxygen_passbook_booking_type_useBarcode_row %}
<div>
	<label class="checkbox inline" data-toggle="collapse" data-target="#booking-barcode">
		{{ form_widget(form) }} {{ form_label(form, null, { plaintext: true }) }}
	</label>
	<div class="alert alert-info" style="margin-top: 0.5em;">
		{{ 'booking.admin.weezevent_intro'|trans({}, 'ssn_therapass') }}
		<br />{{ 'booking.admin.weezevent_reason'|trans({}, 'ssn_therapass') }}
	</div>
</div>
{% endblock %}

{% block oxygen_passbook_booking_type_widget_ticket %}
{{ form_row(form.eventTicket) }}
{{ form_row(form.useBarcode) }}
<div id="booking-barcode" class="collapse {{ (form.useBarcode.vars['data'])?'in':'' }}" style="margin-top: 1em;">
	{{ form_row(form.barcode) }}
</div>
{% endblock %}

{% block oxygen_weezevent_tickets_type_widget %}
{% set attr = attr|merge({'class': (attr.class|default('') ~ ' row-fluid')|trim}) %}
{{ block('choice_widget') }}
{% endblock %}

{% block _ssn_therapass_login_type_weezeventTicketId_widget %}
{{ block('choice_widget') }}
{% endblock %}

{% block oxygen_passbook_event_product_type_widget_informations %}
{{ parent() }}
{{ form_row(form.location) }}
{% endblock oxygen_passbook_event_product_type_widget_informations %}

{% block oxygen_passbook_booking_slot_type_row %}
<tr>
	<td>{{ form.vars['product'].getLocation() }}</td>
	<td>{% spaceless %}
		{% if form.vars['product'].getUrl() is not null %}
			<a href="{{ form.vars['product'].getUrl() }}" target="_blank">{{ form_label(form, null, { plaintext: true }) }}</a>
		{% else %}
			{{ form_label(form, null, { plaintext: true }) }}
		{% endif %}
		{% if form.vars['product'].getDescription() is not null %}
		<i class="icon-question-sign" data-toggle="popover" data-content="{{ form.vars['product'].getDescription()|nl2br|e }}" data-html="true" data-trigger="hover" style="cursor: help; margin-left: 2px;"></i>
		{% endif %}
	{% endspaceless %}</td>
	<td>{{ form_widget(form) }}{{ form_errors(form) }}</td>
</tr>
{% endblock %}