{% extends oxygen_layout() %}

{% block ssn_therapass_title %}
{% if events|length>0 %}
{{ 'booking.index.title'|trans({}, 'ssn_therapass') }}
{% else %}
{{ 'booking.index.title_ending'|trans({}, 'ssn_therapass') }}
{% endif %}
{% endblock %}

{% block ssn_therapass_content %}
{% if events|length>0 %}
<p>Votre adresse email : {{ email }}</p>
<div>
	<table class="table table-small">
		<tbody>
			{% for event in events %}
			<tr>
				<td><strong>{{ event.getName() }}</strong></td>
				<td>{% if bookings[event.getId()] is defined %}
				{% for booking in bookings[event.getId()] %}
				{% spaceless %}
				<span style="display: block; padding: 0.3em;">
					{% if booking.getEventProductSlot().getEventProduct().getUrl() is not null %}
					<a href="{{ booking.getEventProductSlot().getEventProduct().getUrl() }}" target="_blank">{{ booking.getEventProductSlot().getEventProduct().getName() }}</a>
					{% else %}
					{{ booking.getEventProductSlot().getEventProduct().getName() }}
					{% endif %}
					- {{ booking.getEventProductSlot().__toString() }}
				</span>
				{% endspaceless %}
				{% endfor %}
				{% endif %}</td>
				<td>
				{% if event.isOpened() %}
				{% if event.isBookingsClosed() %}
				<div class="alert alert-warning">
					{{ ('booking.index.event_closed')|trans({}, 'ssn_therapass') }}
				</div>
				{% else %}
				<p><a href="{{ path('ssn_therapass_booking_event', { eventId: event.getId() }) }}" class="btn btn-primary">
					{% if bookings[event.getId()] is defined %}
					{{ ('booking_index.button.book_change')|trans({}) }}
					{% else %}
					{{ ('booking_index.button.book')|trans({}) }}
					{% endif %}
				</a></p>
				{% endif %}
				{% if bookings[event.getId()] is defined and bookings[event.getId()]|length > 0 %}
				<p><a data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="{{ ('booking.index.book_print_confirmation.help')|trans({}, 'ssn_therapass') }}" href="{{ path('ssn_therapass_booking_event_print', { eventId: event.getId() }) }}" target="_blank" class="btn btn-default">
					{{ ('booking.index.book_print_confirmation.btn_title')|trans({}, 'ssn_therapass') }}
				</a></p>
				{% endif %}
				{% else %}
					{{ ('booking.index.event_scheduled')|trans({}, 'ssn_therapass') }}
				{% endif %}
				</td>
			</tr>
			{% endfor %}
		</thead>
	</table>
</div>
{% else %}
<div class="alert alert-warning">
{{ 'booking.index.close'|trans({}, 'ssn_therapass') }}
</div>
{% endif %}
{% endblock %}