{% extends oxygen_layout() %}

{% block ssn_therapass_title %}
{{ 'app_config.header.title'|trans({}, 'ssn_therapass') }}
{% endblock %}

{% block ssn_therapass_content %}
{{ form_start(form) }}
	{{ form_row(form.commandLink) }}
	<h3>Accès aux réservations</h3>
	{{ form_row(form.alertBooking) }}
	<div>
		{{ form_label(form.closeBooking) }}
		{{ form_widget(form.closeBooking) }}
	</div>
{{ form_end(form) }}
{% endblock %}