
	<div class="well sidebar-nav">
    	<ul class="nav nav-list">
        	<li class="nav-header">{{ 'menu.booking_slot.title'|trans({}, 'ssn_therapass') }}</li>
            <li><a href="{{ path('oxygen_passbook_booking_event_list') }}">{{ 'menu.booking_slot.current'|trans({}, 'ssn_therapass') }}</a></li>
            <li><a href="{{ path('oxygen_passbook_booking_event_list', { type: 'end' }) }}">{{ 'menu.booking_slot.end'|trans({}, 'ssn_therapass') }}</a></li>
            <li><a href="{{ path('ssn_therapass_weezevents') }}">{{ 'menu.booking_slot.weezevents'|trans({}, 'ssn_therapass') }}</a></li>
            <li class="nav-header">{{ 'menu.settings.title'|trans({}, 'ssn_therapass') }}</li>
            <li><a href="{{ path('oxygen_passbook_event_list') }}">{{ 'menu.settings.events'|trans({}, 'ssn_therapass') }}</a></li>
            <li><a href="{{ path('oxygen_passbook_event_type_list') }}">{{ 'menu.settings.event_type'|trans({}, 'ssn_therapass') }}</a></li>
            <li><a href="{{ path('oxygen_passbook_admin_config') }}">{{ 'menu.settings.application'|trans({}, 'ssn_therapass') }}</a></li>
            <li class="nav-header">{{ 'menu.documentation.title'|trans({}, 'ssn_therapass') }}</li>
            <li><a href="{{ asset('bundles/ssntherapass/SSN-DocumentationPlateforme.pdf') }}">{{ 'menu.documentation.admin'|trans({}, 'ssn_therapass') }}</a></li>
		</ul>
	</div>
