{% extends oxygen_layout() %}

{% block meta_title %}
	Accès réservations | {{ parent() }}
{% endblock %}

{% block ssn_therapass_title %}
{{ 'booking.login.section_name'|trans({}, 'ssn_therapass') }}
{% endblock ssn_therapass_title %}

{% block ssn_therapass_content %}
{{ parent() }}
{% if not (alertBooking is null) %}
<div class="alert alert-warning">
{{ alertBooking }}
</div>
{% endif %}
{% if not (closeBooking is defined) or not closeBooking %}
<form method="post" {{ form_enctype(form) }}>
	{{ form_widget(form) }}
	{{ form_rest(form) }}
	<p>
		<a href="#" data-toggle="collapse" data-target="#ticket-help">Où trouver le n° du billet ?</a>
		<div id="ticket-help" class="collapse">
			<img src="{{ asset('bundles/ssntherapass/images/billet.jpg') }}" alt="Exemple de billet" />
			<p>Attention : votre n° de ticket comporte la lettre O, à ne pas confondre avec le chiffre 0, pour que votre billet soit reconnu</p>
		</div>
	</p>
	<p>
		<input formnovalidate type="submit" value="{{ 'booking.login.button'|trans({}, 'ssn_therapass') }}" class="btn btn-primary" />
	</p>
</form>
{% endif %}
{% endblock ssn_therapass_content %}
