{% extends "SSNTherapassBundle::layout.html.twig" %}

{% block stylesheets %}
	{{ parent() }}
	<style type="text/css">
	body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
    }
	</style>
{% endblock %}

{% block meta_title %}
	Administration | {{ parent() }}
{% endblock %}

{% block body %}
<div class="container">
    <form class="form-signin" action="{{ path('ssn_therapass_admin_login_check') }}" method="post">
        <h2 class="form-signin-heading">Merci de vous connecter</h2>
        {% if error %}
	    <div class="alert alert-error">{{ error.message|trans({}, 'ssn_therapass') }}</div>
		{% endif %}
        <input type="text" name="_username" class="input-block-level" placeholder="Utilisateur" value="{{ last_username }}">
        <input type="password" name="_password" class="input-block-level" placeholder="Mot de passe">
        <!-- <label class="checkbox">
          <input type="checkbox" value="remember-me"> Remember me
        </label> -->
        <button class="btn btn-large btn-primary" type="submit">Se connecter</button>
    </form>
</div> <!-- /container -->
{% endblock %}
