{% extends oxygen_layout() %}

{% block ssn_therapass_content %}
<div class="hero-unit">
	<h1>{{ jumbotron.title }}</h1>
	<p>
		{{ jumbotron.sub_title|nl2br }}
	</p>
</div>
{% if open_mode == 'full' %}
<div class="row-fluid">
	<div class="span5">
		<h2>{{ 'home.cmdpass.title'|trans({}, 'ssn_therapass') }}</h2>
		<p>{{ 'home.cmdpass.content'|trans({}, 'ssn_therapass') }}</p>
		<p><a class="btn" href="{{ urlCommand }}">{{ 'home.cmdpass.btn'|trans({}, 'ssn_therapass') }}</a></p>
	</div><!--/span-->
	<div class="span7">
		<h2>{{ 'home.book.title'|trans({}, 'ssn_therapass') }}</h2>
		{% if events|length <= 0 %}
		<div class="alert alert-warning">{{ 'home.book.no_events'|trans({}, 'ssn_therapass') }}</div>
		{% else %}
		{% endif %}
		{% if not (alertBooking is null) %}
		<div class="alert alert-warning">
		{{ alertBooking }}
		</div>
		{% endif %}
		{% if (not (closeBooking is defined) or not closeBooking) and events|length > 0 %}
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Réservations possibles :</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
		{% for event in events %}
				<tr>
					<td>{{ event.getName() }}</td>
					<td><a class="btn" href="{{ path('ssn_therapass_login') }}">{{ 'home.book.btn'|trans({}, 'ssn_therapass') }}</a></td>
				</tr>
		{% endfor %}
			</tbody>
		</table>
		{% if events|length > 1 %}
		<div class="alert alert-warning">
		Si votre billet Weezevent ne vous donne accès qu'aux réservations de certaines animations, vous devrez vous déconnecter et vous connecter à nouveau avec l'autre billet.
		</div>
		{% endif %}
		{% else %}
		<div class="alert alert-warning">{{ 'home.book.closed'|trans({}, 'ssn_therapass') }}</div>
		{% endif %}
	</div><!--/span-->
</div><!--/row-->
{% endif %}
{% endblock %}