{% extends oxygen_layout() %}

{% block ssn_therapass_content %}
<div class="hero-unit">
	{% if open_mode == 'full' %}
	<h1>{{ 'home.header.title'|trans({}, 'ssn_therapass') }}</h1>
	<p>
		{{ 'home.header.introduction'|trans({}, 'ssn_therapass') }}
	</p>
	{% else %}
	<h1>Réservations bientôt ouvertes</h1>
	<p>
		Les réservations avec vos intervenants du Pôle Thérapie/Bien-être seront bientôt ouvertes. Merci de revenir à partir du 22 juillet 2013.
	</p>
	{% endif %}
</div>
{% if open_mode == 'full' %}
<div class="row-fluid">
	<div class="span6">
		<h2>{{ 'home.book.title'|trans({}, 'ssn_therapass') }}</h2>
		<p>{{ 'home.book.content'|trans({}, 'ssn_therapass') }}</p>
		<div class="alert alert-warning">
		La réservation de vos séances est possible jusqu'au mercredi 25 minuit.<br />
		Au-delà, pour les retardataires, téléphoner au 06 81 39 04 67.
		</div>
		<p><a class="btn" href="{{ path('ssn_therapass_login') }}">{{ 'home.book.btn'|trans({}, 'ssn_therapass') }}</a></p>
	</div><!--/span-->
	<div class="span6">
		<h2>{{ 'home.cmdpass.title'|trans({}, 'ssn_therapass') }}</h2>
		<p>{{ 'home.cmdpass.content'|trans({}, 'ssn_therapass') }}</p>
		<p><a class="btn" href="{{ book_pass_url }}">{{ 'home.cmdpass.btn'|trans({}, 'ssn_therapass') }}</a></p>
	</div><!--/span-->
</div><!--/row-->
{% endif %}
{% endblock %}